@import '@styles/utils/variables';
@import '@styles/utils/_breakpoints';

.container {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  background-color: $color-light20;

  @media screen and (max-width: $tablet) {
    padding: 64px 0;
  }
}

.contactUsContainer {
  height: 100%;
  width: 100%;
  padding: 40px;
  display: flex;
  gap: 40px;
  max-width: 1400px;
}

.locationMapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  width: 75%;

  @media screen and (min-width: $tablet) {
    padding: 0 24px;
  }
}

.locationMap {
  order: 2;
  height: 500px;
  width: 100%;
}

.contactUsDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.contactUsTitle {
  font-size: $font-size-extra-large;
  font-weight: 700;
  color: $color-light90;
  font-family: $font-family-main;
  text-align: left;
}

.contactUsDescription {
  font-size: $font-size-medium-large;
  text-align: left;
  font-family: $font-family-main;
  margin-bottom: 24px;
  margin-top: 16px;
}

.contactUsDetail {
  font-size: 20px;
  text-align: left;
  font-family: $font-family-main;
}

.contactUsDetailContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
