@import "@styles/utils/variables";
@import "@styles/utils/_breakpoints";

.container {
  padding: 30px 100px;
  margin: auto;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 90%;
  margin-top: 80px;
  margin-bottom: 100px;
  background-color: $color-white;
  max-width: 1300px;

  @media screen and (max-width: 870px) {
    padding: 20px 40px;
  }
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
  font-family: $font-family-main;

  @media screen and (max-width: 830px) {
    flex-direction: column;
  }

  @media screen and (max-width: $small) {
    align-items: flex-start;
  }
}

.contactInfoContainer {
  @media screen and (max-width: 830px) {
    margin-bottom: 40px;
  }
}

.contactInfoItem {
  font-size: $font-size-medium-larger;

  @media screen and (max-width: $small) {
    font-size: $font-size-medium;
  }

  &:not(:last-child) {
    padding-bottom: 60px;

    @media (max-width: $mobile) {
      padding-bottom: 40px;
    }
  }
}

.contactInfoSubitemTwo {
  padding-top: 10px;
  font-weight: bold;
}

.contactFormContainer {
  display: flex;
  flex-direction: column;
  flex: 0.7;

  @media (max-width: $tablet) {
    flex: 0.9;
  }
}

.contactForm {
  margin-top: 20px;
}

.sendEmailBtn {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  padding: $spacing-small $spacing-large;
  font-size: $font-size-medium;

  @media screen and (max-width: 870px) {
    padding: $spacing-small $spacing-medium;
  }

  &:hover {
    background-color: $color-blue-10;
    transition: all 0.35s ease-in-out;
  }
}

.sendEnabled {
  background-color: $color-blue-20;
  color: $color-white;
  border: 1px solid $color-blue-20;
}

.sendDisabled {
  border: 1px solid $color-gray-40;
  pointer-events: none;
}

.inputContainer {
  height: 80px;
}

.errorMessage {
  color: $color-red-20;
  font-size: $font-size-medium;
  height: 20px;

  @media screen and (max-width: $tablet) {
    font-size: $font-size-medium-small;
  }
}

.textareaContainer {
  height: 190px;
}
