@import '@styles/utils/variables';
@import '@styles/utils/_breakpoints';

.closeSidebar {
  top: -100vh;
  opacity: 0;
  transition: 800ms ease-in-out;
}

.openSidebar {
  top: 0;
  opacity: 1;
  transition: 800ms ease-in-out;
}

.sidebarContainer {
  height: 100vh;
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(120px);
  font-family: $font-family-main;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  margin: auto;
}
