@import '@styles/utils/variables';

.active {
  color: $color-gold;
  border-radius: 0.5rem;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);

  &.scrolled {
    color: $color-gold;
  }
}

.navItem {
  font-weight: 500;
  font-family: $font-family-main;
  font-size: $font-size-medium-larger;
  transition: all 0.3s;
  padding: 0.5rem 0.75rem;
  color: $color-white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: $color-gold;
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.2);
  }

  &.scrolled {
    color: black;

    &:hover {
      color: $color-gold;
    }
  }
}
